<template>
  <div class="project-listing">
    <div v-if="!loading">
      <div class="greet-container">
        <img class="user-avatar" :src="avatarUrl">
        <h2>{{ welcomeMsg }}</h2>
        <h3>Choose the project that you would like to log stats</h3>
      </div>
      <va-table :hover="true" size="lg">
        <table>
          <thead>
            <tr>
              <th class="project-name">Project Name</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="project in projects" :key="project.id">
              <td class="project-content" @click="() => goToProject(project.key)">
                <img class="project-avatar" :src="project.avatarUrls['48x48']">
                <b class="project-title">{{ project.name }}</b>
              </td>
            </tr>
          </tbody>
        </table>
      </va-table>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "Projects",
  props: {
    welcomeMsg: String,
    avatarUrl: String
  },
  methods: {
    ...mapActions("projects", {
      getProjects: "importProjects"
    }),
    goToProject(key) {
      this.$router.push(`/project/${key}`);
    }
  },
  watch: {
    error(log) {
      if (log) {
        this.notification.danger({
          title: `Error Fetching Projects`,
          message: `Server responded with: <br/> <b>${log}</b>`,
          duration: 3000
        });
      }
    }
  },
  computed: {
    ...mapState("projects", ["loading", "error", "projects"])
  },
  mounted() {
    this.getProjects();
  }
};
</script>

<style lang="scss" scoped>
.project-listing {
  margin: 1rem;
  width: 600px;
}
.project-avatar {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: -48px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}
.project-title {
  margin-left: 60px;
  overflow: hidden;
}
.project-content {
  cursor: pointer;
}
.project-name {
  font-weight: bolder;
}
.user-avatar {
  border-radius: 50%;
}
.greet-container {
  text-align: center;
  margin: 0 auto;
}
</style>
