<template>
    <va-topbar theme="dark">
        <div class="logo-subtle" slot="left">
            <a href="/">Jira Tracker</a>
        </div>
        <div v-if="loggedIn" slot="right">
            <va-button class="logout-btn" @click="signOut" type="subtle-link">
                <va-icon type="sign-out-alt" color="#f2f2f2" size="1.5em"/>
            </va-button>
        </div>
    </va-topbar>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    name: 'TopBar',
    computed: {
        ...mapState('auth', ['loggedIn'])
    },
    methods: {
        ...mapActions('auth', {
            logout: 'logout',
        }),
        signOut() {
            this.logout();
            this.$router.push('/');
        }
    }
}
</script>

<style lang="scss" scoped>
.logo-subtle {
    a {
        text-decoration: none !important;
        margin: 1rem;
        font-weight: bold;
        font-size: 20px;
        color: #fefefe;
    }
}
.logout-btn {
    cursor: pointer;
}
</style>
