<template>
  <va-app
    bg-color="#F4F5F7"
    page-bg-color="#f2f2f2"
    desktop-margin="0"
    desktop-minimum-width="0"
    desktop-sidebar-width="0"
    desktop-minibar-width="50"
    desktop-topbar-height="40"
    mobile-sidebar-width="0"
    mobile-minibar-width="0"
    mobile-topbar-height="40"
    :rtl="false"
    :reverse="false"
    :split="false"
    :sidebar-priority="false"
    :minibar-priority="false"
    :topbar-priority="false"
    :topbar-padded="false"
  >
    <TopBar/>
    <va-page size="lg">
      <transition>
        <router-view/>
      </transition>
    </va-page>
  </va-app>
</template>

<script>
import TopBar from "./components/TopBar";
export default {
  name: "app",
  components: {
    TopBar
  }
};
</script>

<style lang="scss" src="./shared/style.scss" />
